@model UploadFileVm
@{
    ViewData["Title"] = "Convert Video";
}

<h2>Convert Video</h2>

<form asp-action="Convert" asp-controller="Home" method="post" enctype="multipart/form-data">
    <input asp-for="FileName" />
    <div class="form-group">
        <label for="videoFile">Select Video File</label>
        <input class="form-control-file" id="videoFile" name="File" type="file">
    </div>
    <button type="submit" class="btn btn-primary">Convert to MP4</button>
</form>