<a asp-controller="Video" asp-action="Index">Convert</a> 
<a asp-controller="Video" asp-action="ConvertMultiple">Convert Multiple</a> 
<a asp-controller="Video" asp-action="ConvertAndMerge">Merge</a> 

<div class="card">
    <a asp-controller="Vob" asp-action="Index">Vob converter</a>
</div>