
<div class="card">
    <a asp-controller="Vob" asp-action="Index">Vob converter</a>
    <a asp-controller="Vob" asp-action="UploadedFiles">Convert Uploaded</a>
    <a asp-controller="Vob" asp-action="ConvertWithImage">Convert With Image</a>
</div>