@model UploadFileVm

<h2>Convert Video</h2>

<form asp-action="ConvertMultiple" asp-controller="Video" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="file">Select Video File</label>
        <input type="file" class="form-control-file" id="file" name="Files" multiple>
    </div>
    <button type="submit" class="btn btn-primary">Convert to MP4</button>
</form>
